<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e58ef6">  <td>18/11/16 17:43:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CasesTest.CaseViewTest()[pri:1, instance:com.hp.qa.testcases.CasesTest@28975c28]">CaseViewTest</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>18/11/16 17:43:38</td>   <td>30569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CasesTest.afterMethod()[pri:0, instance:com.hp.qa.testcases.CasesTest@28975c28]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>18/11/16 17:42:56</td>   <td>-11472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CasesTest.beforeMethod()[pri:0, instance:com.hp.qa.testcases.CasesTest@28975c28]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
</table>
